:root {
    --color-principal: #ccb56b;
    --texto-color-secundario: #443401;
}

.text-principal{
    color: var(--texto-color-secundario);
}

.border-buttons{
    background-color: transparent;
    color: var(--texto-color-secundario);
    border: 3px solid var(--texto-color-secundario);
}

.border-buttons:hover{
    color: white;
    background-color:var(--texto-color-secundario) ;
}

.background-secondary{
    background-color: var(--color-principal);
}

.background-primary{
    background-color: rgb(65, 64, 64);
}

.text-consulta{
    color: var(--texto-color-secundario);
}